*.csv
Model(State)-Copy1.ipynb
Model(NationalAverage).ipynb
Model(StateAveragemorevariables).ipynb
Model(StateAveragewithState).ipynb
Model(StateAverage).ipynb
Model2.ipynb
Model3(IP+OP).ipynb
CorrelationPlots.ipynb
FinalPlots.ipynb
