*.csv
*.tsv
Model_State_Copy1.ipynb
Model_NationalAverage.ipynb
Model_StateAveragemorevariables.ipynb
Model_StateAveragewithState.ipynb
Model_StateAverage.ipynb
Model2.ipynb
Model3_IP_OP.ipynb
CorrelationPlots.ipynb
FinalPlots.ipynb
